extends layout

block content
  h1=  title
  p Welcome to #{title}
  div(class="container")
    div(class="row")
      div(class="col-md-2") &nbsp;
      div(class="col-md-4")
        label My victories
        br
        b(id="val_win") 0
      div(class="col-md-4")
        label Computer victories
        br
        b(id="val_fail") 0
      div(class="col-md-2") &nbsp;
    div(class="row")
      div(class="col-md-4")
      div(class="col-md-4")
        b(id="txt_result")
      div(class="col-md-4")
    div(class="row")
      div(class="col-md-12")
        h4 Select your option
        div(class="container")
          div(class="row")
            div(class="col-md-4", style="text-align: 'center';")
              img(class="grayscale", src="/images/rock.png", id="rockSel")
              p Rock
            div(class="col-md-4")
              img(class="grayscale", src="/images/paper.png", id="paperSel")
              p Paper
            div(class="col-md-4")
              img(class="grayscale", src="/images/scissors.png", id="scissorsSel")
              p Scissors
    div(class="row")
      div(class="col-md-12")
        h3 Console
        textarea(class="form-control textareaconsole", rows="8", id="inData")
  script(src='/javascripts/game.js')
